/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;

}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
    height: 5000px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.brdr-none {
    border: none !important;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* End Global Rules */
/* Start NavBar */
nav {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    overflow: hidden;
}
nav .flxx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container {
    position: relative;
}
nav .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    padding: 25px 0;
    cursor: pointer;
}
nav .links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .links ul li .fornavbar {
    color: #000;
    font-size: 18px;
    padding: 25px 30px 24px;
    position: relative;
    transition: var(--main-transition);

}
nav .links ul li .fornavbar::before {
    content: '';
    position: absolute;
    width: 0;
    top: 0px;
    left: 0px;
    background-color: var(--main-color);
    height: 4px;
    transition: var(--main-transition);
}
nav .links ul li .fornavbar:hover {
    color: var(--main-color);
    transition: var(--main-transition);
    background-color: #fafafa;
}
nav .links ul li .fornavbar:hover::before {
    width: 100%;
    transition: var(--main-transition);
}
/* Start Toggle Menu */
.toggle-menu {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 3px solid var(--main-color);
    transition: var(--main-transition);
    top: calc(100% + 50px);
    opacity: 1;
    background-color: #fff;
    z-index: 1;
}
nav .links ul .tgl:hover .toggle-menu {
    opacity: 1;
    top: calc(100% + 1px);
}
.toggle-menu .sora-,
.toggle-menu .sora--  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.toggle-menu .sora- {
    margin-left: 15px;
}
.toggle-menu .sora- a,
.toggle-menu .sora-- a {
    padding: 13px 0;
    width: 250px;
    border-bottom: 1px solid #e9e6e6;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
.toggle-menu .sora- a::before,
.toggle-menu .sora-- a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa !important;
    transition: var(--main-transition);
    z-index: -1;
}
.toggle-menu .sora- a:hover::before,
.toggle-menu .sora-- a:hover::before {
    width: 100%;
}
.toggle-menu .sora- a i,
.toggle-menu .sora-- a i {
    margin-right: 12px;
}
/* End Toggle Menu */
/* Start Media Query For navbar */
@media (max-width: 991px) {
    nav .toggle-menu .sora {
        display: none;
    }
}
@media (max-width: 767px) {
    nav .logo {
        padding: 10px 0 20px;
    }
    nav .flxx {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .links ul {
        justify-content: center;
        padding-bottom: 15px;
    }
    nav .links ul li .fornavbar{
        font-size: 14px;
        padding: 10px 15px 11px;
    }
    .toggle-menu {
        display: block;
        text-align: center;
        padding-top: 0;
    }
    .toggle-menu .sora-,
    .toggle-menu .sora--{
        margin-bottom: 0;
        margin-left: 15px;
    }
    .toggle-menu .sora- a,
    .toggle-menu .sora-- a{
        width: 100%;
        text-align: start;
    }
}
/* End Media Query For navbar */
/* End NavBar */
/* Start Header */
header {
    position: relative;
}
header::before {
    content: '';
    height: 100%;
    background-color: var(--section-background);
    width: 100%;
    top: -40px;
    left: 0;
    position: absolute;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
}
header .container .flxx {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 80px);
    padding-bottom: 120px;
    align-items: center;
}
header .flxx .text {
    width: 45%;
}
header .flxx .text h2 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}
header .flxx .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
header .flxx img {
    position: relative;
    width: 54%;
    animation: up-and-down 5s linear infinite;
}
header i {
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: var(--main-color);
    --animate-duration: 5s;
    cursor: pointer;
}
/* Start Media Query For Header */
@media (max-width: 991px) {
    header .flxx .text {
        width: 100%;
        text-align: center;
    }
    header .flxx .text p {
        margin: 5px auto;
    }
    header .flxx img {
        display: none;
    }
}
@media (max-width: 767px) {
    header .flxx .text h2 {
        font-size: 28px;
    }
    header .flxx .text p {
        font-size: 18px;
    }
}
/* End Media Query For Header */
/* End Header */
/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.articles h2 {
    position: relative;
    text-transform: uppercase;
    width: fit-content;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid #000;
    padding: 10px 20px;
    margin: 0 auto 80px;
    transition: var(--main-transition);
    
}
.articles h2:hover {
    transition-delay: 0.4s;
    color: white;
    border: 2px solid var(--main-color);
}
.articles h2::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    width: 13px;
    height: 13px;
    border-radius: 20px;
    transition: var(--main-transition);
    z-index: -1;
}
.articles h2::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    width: 13px;
    height: 13px;
    border-radius: 20px;
    transition: var(--main-transition);
    z-index: -1;
}
.articles h2:hover::before {
    animation: left-move 0.5s linear forwards;
}
.articles h2:hover::after {
    animation: right-move 0.5s linear forwards;
}
.articles .up {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    grid-template-areas:
    "riven riven riven leblanc leblanc leblanc ahri ahri ahri zed zed zed"
    "urgot urgot urgot fizz fizz fizz rell rell rell vayne vayne vayne"
}
.articles .up .riven {
    grid-area: riven;
}
.articles .up .leblanc {
    grid-area: leblanc;
}
.articles .up .ahri {
    grid-area: ahri;
}
.articles .up .zed {
    grid-area: zed;
}
.articles .up .urgot {
    grid-area: urgot;
}
.articles .up .fizz {
    grid-area: fizz;
}
.articles .up .rell {
    grid-area: rell;
}
.articles .up .vayne {
    grid-area: vayne;
}
.articles .up .riven,
.articles .up .leblanc,
.articles .up .ahri,
.articles .up .zed,
.articles .up .urgot,
.articles .up .fizz,
.articles .up .rell,
.articles .up .vayne {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    position: relative;
    border-radius: 7px;
    transition: var(--main-transition);
    overflow: hidden;
}
.articles .up .riven::after,
.articles .up .leblanc::after,
.articles .up .ahri::after,
.articles .up .zed::after,
.articles .up .urgot::after,
.articles .up .fizz::after,
.articles .up .rell::after,
.articles .up .vayne::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e6e6e7;
    position: absolute;
    bottom: 66px;
}
.articles .up .riven img,
.articles .up .leblanc img,
.articles .up .ahri img,
.articles .up .zed img,
.articles .up .urgot img,
.articles .up .fizz img,
.articles .up .rell img,
.articles .up .vayne img {
    width: 100%;
}
.articles .up .riven h3,
.articles .up .leblanc h3,
.articles .up .ahri h3,
.articles .up .zed h3,
.articles .up .urgot h3,
.articles .up .fizz h3,
.articles .up .rell h3,
.articles .up .vayne h3 {
    margin-left: 15px;
    margin-bottom: 0;
}
.articles .up .riven p,
.articles .up .leblanc p,
.articles .up .ahri p,
.articles .up .zed p,
.articles .up .urgot p,
.articles .up .fizz p,
.articles .up .rell p,
.articles .up .vayne p {
    margin: 10px 0 0 15px;
    line-height: 1.5;
    color: #777;
}
.articles .up .riven div,
.articles .up .leblanc div,
.articles .up .ahri div,
.articles .up .zed div,
.articles .up .urgot div,
.articles .up .fizz div,
.articles .up .rell div,
.articles .up .vayne div {
    margin-left: 15px;
    margin-top: 35px;
    margin-bottom: 30px;
    font-weight: bold;
    color: var(--main-color);
    text-transform: capitalize;
    cursor: pointer;
}
.articles .up .riven div i,
.articles .up .leblanc div i,
.articles .up .ahri div i,
.articles .up .zed div i,
.articles .up .urgot div i,
.articles .up .fizz div i,
.articles .up .rell div i,
.articles .up .vayne div i {
    float: right;
    margin-right: 21px;
    margin-top: 5px;
    font-size: 16px;
}
.articles .up .riven:hover,
.articles .up .leblanc:hover,
.articles .up .ahri:hover,
.articles .up .zed:hover,
.articles .up .urgot:hover,
.articles .up .fizz:hover,
.articles .up .rell:hover,
.articles .up .vayne:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .up .riven:hover i,
.articles .up .leblanc:hover i,
.articles .up .ahri:hover i,
.articles .up .zed:hover i,
.articles .up .urgot:hover i,
.articles .up .fizz:hover i,
.articles .up .rell:hover i,
.articles .up .vayne:hover i {
    animation: moving-arrow 0.7s linear infinite;
}
/* Start Media Query For Articles */
@media (max-width: 1200px) {
    .articles .up {
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
            "riven riven riven leblanc leblanc leblanc ahri ahri ahri"
            "zed zed zed urgot urgot urgot fizz fizz fizz"
            "rell rell rell vayne vayne vayne . . .";
    }
}
@media (max-width: 991px) {
    .articles .up {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            " riven riven riven leblanc leblanc leblanc"
            "ahri ahri ahri zed zed zed"
            "urgot urgot urgot fizz fizz fizz"
            " rell rell rell vayne vayne vayne";
    }
}
@media (max-width: 568px) {
    .articles .up {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "riven "
            "leblanc"
            "ahri"
            "zed"
            "urgot"
            "fizz"
            "rell"
            "vayne";
    }
}
/* End Media Query For articles */
/* End Articles */

























/* Start Animation */
@keyframes up-and-down {
    0%,
    100% {
    top: 0;
    }
    50% {
    top: -50px;
    }
}
@keyframes right-move {
    50% {
    right: 0;
    width: 12px;
    height: 12px;
    }
    100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
    }
}
@keyframes left-move {
    50% {
    left: 0;
    width: 12px;
    height: 12px;
}
    100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
    }
}
@keyframes moving-arrow {
    100% {
    transform: translateX(10px);
    }
}
  /* End Animation */

























  @keyframes flashing {
    0%,
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 200%;
      height: 200%;
    }
  }
  @keyframes change-background {
    0%,
    100% {
      background-image: url("../imgs/discount-background1.jpg");
    }
    50% {
      background-image: url("../imgs/discount-background2.jpg");
    }
  }
  /* End Animation */